body {
	padding: 50px 10px 10px 10px;
}

.navbar .navbar-padding {
	padding-left: 15px;
	padding-right: 15px;
}

.loading {
	padding-top: 25px;
	padding-bottom: 25px;
}

.loading img {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

#report .modal {
    /* new custom width */
    width: 800px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -400px;
}